/* 
    Document   : player
    Created on : Nov 14, 2013, 10:31:31 AM
    Author     : diwanee35
    Description:
        Purpose of the stylesheet follows.
*/
#previousBtnControllerScreen{
    background-color: red;
}

#black{
    background-color: red;
}

#skipBtnHolder{
    background-color: red;
}

#player{
    background-color: red;
}

.videoHolder{
    background-color: white;
}

/*#playlistInterface #video-list-wrapper-playlistInterface{
    display: none !important;
}*/

.video-list-wrapper{
    display: none !important;
}

.mwPlayerContainer{
    width: 100% !important;
}

.hide{
    display: none !important;
}

.show{
    display: block !important;
}

.irDescriptionIrScreen{
    width: 100% !important;
}

#social_buttons{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    background: rgba(54, 25, 25, .5);
    padding: 5px 10px;
}

#kaltura_player_1385041988_pl:hover #social_buttons{
    display: block;
}


/*.playlistInterface:hover .video-list-wrapper{
    display: block !important;
}*/

